#login_container {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login_box {
  width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 10px;
}
.login_sections {
  width: 50%;
  padding: 15px;
  transition: none;
}

#login_input_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#login_input_container h2 {
  font-size: 45px;
  margin-bottom: 40px;
  color: white;
}

.login_input_box {
  margin-bottom: 20px;
}
.login_input_box > div {
  position: relative;
}
#login_password_container input {
  padding-right: 45px;
}
#login_password_container button svg {
  font-size: 28px;
  color: var(--purple);
}

.login_input_box p {
  font-size: 23px;
  color: white;
}

.login_input_box input {
  font-size: 21px;
}

#login_btn_container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 20px;
}

#login_page_register_btn {
  border-radius: 4px;
  font-size: 21px;
  padding: 5px;
  width: 150px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  align-content: center;
}

#login_page_register_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #494c52;
  z-index: 0;
  transition: left 0.3s ease;
}

#login_page_register_btn p,
#login_page_signin_btn p {
  font-size: 21px;
}
#login_page_register_btn p {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 21px;
  text-align: center;
}

#login_page_register_btn:hover::before {
  left: 0;
}
#login_page_register_btn:hover {
  color: white !important;
  border: none;
}

#login_page_signin_btn {
  background-color: var(--purple);
  color: white;
  border-radius: 4px;
  font-size: 21px;
  padding: 5px;
  width: 150px;
  justify-content: center;
}
#login_page_signin_btn:hover {
  background-color: #7b10c7;
}

#login_forgot_password {
  width: 100%;
  margin-top: auto;
  color: white;
}
#login_forgot_password:visited {
  color: #800080;
}
#login_image_section {
  background: url("/images/controller_image.jpg");
  background-size: cover;
  border-radius: 25px;
}
#login_image_section > p {
  color: white;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-top: 60px;
}

#signup_features_list {
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
}
#signup_features_list li {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}
#signup_features_list li::marker {
  color: var(--purple);
  font-size: 21px;
}

#signup_features_list p:nth-child(2) {
  background-color: var(--purple);
}

/* Register Page */

#register_input_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#register_input_box_container {
  overflow-y: scroll;
  max-height: 250px;
  margin-bottom: 20px;
  padding-right: 20px;
}

#register_input_container h2 {
  font-size: 45px;
  margin-bottom: 20px;
  color: white;
}
.register_input_box {
  margin-bottom: 20px;
}

.register_input_box > div {
  position: relative;
}

.register_password_container input {
  padding-right: 45px;
}
.register_password_container button svg {
  font-size: 28px;
  color: var(--purple);
}

.register_input_box p {
  font-size: 21px;
  color: white;
}

.register_input_box input {
  font-size: 19px;
}

#register_btn_container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
#register_page_backtolog_btn {
  border-radius: 4px;
  font-size: 21px;
  padding: 5px;
  width: 150px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  align-content: center;
}

#register_page_backtolog_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #494c52;
  z-index: 0;
  transition: left 0.3s ease;
}

#register_page_backtolog_btn p,
#register_page_register_btn p {
  font-size: 21px;
}

#register_page_backtolog_btn p {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 21px;
  text-align: center;
}

#register_page_backtolog_btn:hover::before {
  left: 0;
}
#register_page_backtolog_btn:hover {
  color: white !important;
  border: none;
}

#register_page_register_btn {
  background-color: var(--purple);
  color: white;
  border-radius: 4px;
  font-size: 21px;
  padding: 5px;
  width: 150px;
  justify-content: center;
}

#register_page_register_btn:hover {
  background-color: #7b10c7;
}

/* Forgot Password Page*/

#forgot_password_container {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#forgot_password_box {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: var(--gray);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#forgot_password_box h2 {
  font-size: 35px;
  color: white;
}
#forgot_password_box p {
  margin-bottom: 20px;
  color: white;
}
#forgot_password_email_box {
  margin-top: 40px;
  margin-top: auto;
}
#forgot_password_box > button {
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

/* Recover Password */
#recover_password_container {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#recover_password_box {
  width: 400px;
  min-height: 300px;
  height: fit-content;
  margin: 0 auto;
  background-color: var(--gray);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#recover_password_box h2 {
  font-size: 35px;
  color: white;
}
#recover_password_box p {
  color: white;
}

#recover_password_password_box {
  margin-top: 40px;
}
.recover_password_password_input {
  margin-bottom: 10px;
  position: relative;
}
.recover_password_password_input input {
  padding-right: 45px;
}
.recover_password_password_input button {
  position: absolute;
  color: var(--purple);
  right: 0px;
  top: 0px;
}
.recover_password_password_input button svg {
  color: var(--purple);
  font-size: 28px;
}

#recover_password_password_box > button {
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1000px) {
  #login_box {
    width: 500px;
  }
  #login_image_section {
    display: none;
  }
  .login_sections {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #recover_password_container {
    min-height: 500px;
  }
  #forgot_password_container {
    min-height: 500px;
  }
}

@media (max-width: 500px) {
  #login_container {
    min-height: 600px;
  }
  #login_box {
    width: 95%;
    padding: 10px;
    min-height: 450px;
  }
  #login_input_container h2 {
    font-size: 40px;
  }
  .login_input_box p {
    font-size: 21px;
  }
  .login_input_box input {
    font-size: 19px;
  }

  #login_page_register_btn p,
  #login_page_signin_btn p {
    font-size: 19px;
  }
}
@media (max-width: 400px) {
  #register_btn_container {
    flex-direction: column;
    row-gap: 5px;
  }
  #register_btn_container a,
  #register_btn_container button {
    flex-grow: 1;
    width: unset;
  }
  #forgot_password_box {
    width: 95%;
    min-height: 320px;
  }
  #recover_password_box {
    width: 95%;
  }
}
@media (max-width: 350px) {
  #forgot_password_box {
    min-height: 350px;
  }
}
