#profile_main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 700px;
}
#profile_image_nav_container {
  display: flex;
  position: relative;
}
#profile_nav_sidebar_container {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}
#profile_nav_sidebar_container > div {
  background-color: var(--gray2);
  padding-top: 80px;
  min-width: 400px;
  align-self: stretch;
  padding-right: 20px;
}
#profile_sidebar_toggle_btn {
  height: 40px;
  border-radius: 50% !important;
  background-color: var(--purple);
  padding: 0;
  border-radius: 0;
  display: none;
  width: 40px;
  margin-top: 10px;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 1);
  transform: translateX(-25px);
}
#profile_sidebar_toggle_btn:hover {
  background-color: #7b10c7;
}
#profile_sidebar_toggle_btn svg {
  margin-top: 5px;
  color: white;
  font-size: 30px;
}
#profile_main_content {
  flex-grow: 1;
  min-height: 400px;
}
#profile_main_content h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

/* ProfileImage Component */
#profile_main_image_container {
  margin-bottom: 50px;
}

#profile_image_box {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
#profile_image_box img {
  border-radius: 50%;
  margin: 0 auto;
}
#profile_image_box button {
  text-transform: none;
  background-color: var(--purple);
  color: white;
  margin-top: 20px;
  font-size: 19px;
}
#profile_image_box button:hover {
  background-color: #7b10c7;
}

/* ProfileNav Component */
#profile_nav_box {
  background-color: var(--gray2);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.profile_nav_link_box {
  display: flex;
  flex-direction: row;
  text-transform: none;
  padding: 10px 20px !important;
  text-decoration: none;
  justify-content: left !important;
  align-items: center;
  border-radius: 8px !important;
  margin: 0px 20px !important;
}
.profile_nav_link_box p {
  color: white;
  margin-left: 10px;
  font-size: 23px;
}
.profile_nav_link_box svg {
  font-size: 30px;
}
.profile_nav_link_box:hover {
  background-color: var(--purple) !important;
}
.profile_nav_link_box:hover svg {
  color: white;
}

/* ImageCropper Component */
#image_cropper_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 6;
  overflow-y: scroll;
}
#image_cropper_box {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 800px;
  min-height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

#image_cropper_box h2 {
  font-size: clamp(30px, 4vw, 40px);
  margin: 0 40px;
  display: block;
}

#close_image_cropper {
  position: absolute;
  right: 10px;
  top: 10px;
}
#cropped_image {
  border-radius: 50%;
}
#image_cropping_box {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 20px;
}
#image_to_be_cropped {
  width: 200px;
  height: 200px;
}

#cropped_image_box,
#image_to_be_cropped_box {
  width: 50%;
  min-width: 200px;
  gap: 20px;
}

#cropped_image_box h3,
#image_to_be_cropped_box h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
#cropped_image {
  margin-top: 50px;
}

#crop_image_buttons {
  margin-top: auto;
  width: 100%;
}
#crop_image_upload {
  background-color: var(--purple);
  text-transform: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: 19px;
}
#crop_image_upload:hover {
  background-color: #7b10c7;
}

/* Settings Component */
#settings_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 40px;
  row-gap: 20px;
}
.settings_section {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.settings_section h2 {
  font-size: 30px;
  color: white;
  padding: 20px;
  background-color: var(--gray);
}
.settings_section_setting_box {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  border-bottom: #e0e0e0 3px solid;
}
.settings_section_setting_box:nth-last-child(1) {
  border-bottom: none;
}
.settings_section_setting_box p {
  width: 300px;
  font-size: 19px;
}
.settings_section_setting_box > svg {
  font-size: 20px;
  margin-right: 5px;
  color: var(--purple);
}

@media (max-width: 1000px) {
  .settings_section_setting_box p {
    width: 200px;
  }
  #profile_sidebar_toggle_btn {
    display: block;
  }
  #profile_nav_sidebar_container {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: left 0.3s linear;
  }
  #profile_nav_sidebar_container > div {
    min-width: 270px;
    padding-right: 20px;
  }
  #profile_main_content {
    margin-left: 30px;
  }
}
@media (max-width: 800px) {
  #image_cropper_box {
    width: 100%;
    min-height: 400px;
    height: fit-content;
  }
  .settings_section_setting_box {
    justify-content: left;
  }
  .settings_section_setting_box p {
    width: fit-content;
  }
}

@media (max-width: 600px) {
  #profile_main_container {
    min-height: 500px;
  }
  #settings_container {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  #image_cropping_box {
    flex-wrap: wrap;
    justify-content: center;
  }
  #cropped_image {
    margin-top: 0px;
  }
  #cropped_image {
    margin-top: 50px;
  }
}
